
.navbar__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
   background: transparent;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    width: 100vw;
    z-index: 100;
    max-height: 2px;
    min-height: 2px;
  
   


}
.navbar__container-logo{
 height: 2rem;
 width: 2rem;
 transform: scale(1.8);
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 cursor: pointer;

}

img:hover{
    filter: /*invert(73%)*/ sepia(36%) saturate(4866%) hue-rotate(359deg) brightness(103%) contrast(107%);

}

.navbar__container-list ul{
    display: flex;
 flex-direction: row;
 list-style: none;
 cursor: pointer;
 position: relative;
 color: black;
}
ul li{
    margin: 20px;
  
}
a:hover{
    color: orange;
   
}
.navbar-menu{
  
    display: none;
    position: relative;
    list-style: none;
    z-index: 1000;
}
.navbar-menu svg{
    cursor: pointer;
    
}
.navbar-menu_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 50px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
    background-color: rgba(255, 166, 0, 0.865);
    border-top-left-radius: 15% ;
    border-bottom-right-radius: 15%;
    right: 0;
}
.navbar-menu_container ul{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    padding: 20px;
}
@media screen and (max-width: 1050px){
    .navbar__container-list{
        display: none;
    }
    .navbar-menu{
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    a:hover{
        color: red;
    }
    
}
@media screen and (max-width: 280px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        
    }
    a:hover{
        color: orange;
        
    
    }
}